  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    /* Styles for large desktops */
    .carousel-item img
    {
       object-fit: cover;
       width: 100%;
       height: 100vh;
    } 
    
  }
  