/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
    /* Styles for phones */
    .carousel-item img
    {
       object-fit: cover;
       width: 100%;
       height: 100vh;
    } 
  }