  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for tablets */
   
    .carousel-item img
    {
       object-fit: cover;
       width: 100%;
       height: 100vh;
    } 
  }